html,body{
    height: 100%;
    display:grid;
    place-items: center;
    background-image:url(bkimage/halftone-background-with-circles_23-2148907689.avif);
    background-position: center;
    background-size:cover;
    /* backface-visibility: hidden; */
}
*
{
    margin:0;
    padding:0;
}
#paragraph
{
    font-size: 300px;
    text-transform:capitalize;
    color:rgba(255, 255, 255 ,1);
    margin-top:-200px;
    margin-bottom:100px;
}
content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#rqarea
{
    padding:100px 300px 100px 10px;
    font-size:100px;
    color:white;
    margin-top: 0px;
    border: none;
    background-color: transparent;
    border-bottom:2px solid black ;
}
#rqarea:active
{
    border:none;
}

    
    


feedback
{
    display:flex;
    flex-direction: row;
    justify-content: center; 
}
button
{
    display:inline-block;
    background-color:rgba(0, 0, 255,1);
    color:whitesmoke;
    font-size:100px;
    width:600px;
    height:200px;
    /* border:2px solid black; */
    border:none;
    border-radius:5%;
    box-shadow: 5px 5px 30px white;
    
}
button:hover
{
    background-color: brown;
    /* Border:10px solid black; */
    border:none;
    transform:scale(1);
    transition:all  ease-in 0s ;
    background-color:rgba(0, 0, 255,0.80);
}
@media (max-width:980px)
{
    #paragraph
    {
        margin-top:-400px;
        font-size: 100px;
        
    }   
    #rqarea
{
   
    padding:100px 0px 100px 10px;
    margin:100px 0px 100px 100px;
    font-size:50px;
    color:white;
    margin-top: 0px;
    border: none;
    background-color: transparent;
    border-bottom:2px solid black ;
}
button
{
 
    background-color:rgba(0, 0, 255,1);
    color:whitesmoke;
    font-size:50px;
    margin-left:-30px;
    margin-top:-100px;
    width:300px;
    height:100px;
    /* border:2px solid black; */
 
 
 
    
}
}